/* add some changes at project */
/*not major changes*/
.Adf {
	background-color: #ffffff;
}
body {
	border: 2px solid black;
}
/* some chenges at feature-1 branch
and more and more */

.colors_in_page {
	border-color: coral;
	border: 1px solid cornsilk;
}